#header
{
}

body 
{
    background-color: #e8eef9;
    border: solid black 1px;
    cursor: url('img/trumpcoinmini.png'), auto;	
}

li {
    display: inline;
}

#trumpcoin 
{
    height: 150px;
    width: 200px;
}

#trumpcoin:hover
{
    -webkit-transform:scale(1.25);
}

#trumpcoin:active
{
    -webkit-transform:scale(1.00);
}

#currentCoins
{
}

#loan
{
    height: 50px;
    width: 75px;
    border: solid black 1px;
}

#loan:hover
{
    -webkit-transform:scale(1.25);
}

#loan:active
{
    -webkit-transform:scale(1.00);
}

#currentLoans
{
}

#executiveorder
{
    height: 50px;
    width: 75px;
    border: solid black 1px;
}

#executiveorder:hover
{
    -webkit-transform:scale(1.25);
}

#executiveorder:active
{
    -webkit-transform:scale(1.00);
}

#currentExecutiveOrders
{
}

#deportillegal
{
    height: 50px;
    width: 75px;
    border: solid black 1px;
}

#deportillegal:hover
{
    -webkit-transform:scale(1.25);
}

#deportillegal:active
{
    -webkit-transform:scale(1.00);
}

#currentDeports
{
}

#phonecall
{
    height: 50px;
    width: 75px;
    border: solid black 1px;
}

#phonecall:hover
{
    -webkit-transform:scale(1.25);
}

#phonecall:active
{
    -webkit-transform:scale(1.00);
}

#currentPhoneCalls
{
}

#thewall
{
    height: 50px;
    width: 75px;
    border: solid black 1px;
}

#thewall:hover
{
    -webkit-transform:scale(1.25);
}

#thewall:active
{
    -webkit-transform:scale(1.00);
}

#currentWalls
{
}

#stats
{
}

#picture
{
    height: 250px;
    width: 475px;
}