#header
{
}

#trumpcoin 
{
    height: 150px;
    width: 200px;
}

#trumpcoin:hover
{
    -webkit-transform:scale(1.25);
}

#trumpcoin:active
{
    -webkit-transform:scale(1.00);
}

#currentCoins
{
}

#loan
{
    height: 50px;
    width: 75px;
}

#loan:hover
{
    -webkit-transform:scale(1.25);
}

#loan:active
{
    -webkit-transform:scale(1.00);
}

#currentLoans
{
}

#executiveorder
{
    height: 50px;
    width: 75px;
}

#executiveorder:hover
{
    -webkit-transform:scale(1.25);
}

#executiveorder:active
{
    -webkit-transform:scale(1.00);
}

#currentExecutiveOrders
{
}

#deportillegal
{
    height: 50px;
    width: 75px;
}

#deportillegal:hover
{
    -webkit-transform:scale(1.25);
}

#deportillegal:active
{
    -webkit-transform:scale(1.00);
}

#thewall
{
    height: 50px;
    width: 75px;
}

#thewall:hover
{
    -webkit-transform:scale(1.25);
}

#thewall:active
{
    -webkit-transform:scale(1.00);
}

#currentWalls
{
}

#stats
{
}