#header
{
}

#trumpcoin 
{
    height: 150px;
    width: 200px;
}

#currentCoins
{
}

#loan
{
    height: 50px;
    width: 75px;
}

#currentLoans
{
}

#executiveorder
{
    height: 50px;
    width: 75px;
}

#currentExecutiveOrders
{
}

#thewall
{
    height: 50px;
    width: 75px;
}

#currentWalls
{
}

#stats
{
}